<ul>

  <% DBC::Cohort.find(58).students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>

  <% DBC::Cohort.find(57).students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>

  <% DBC::Cohort.find(59).students.each do |student| %>
  <li><%= student.name %></li>
  <% end %>

</ul>

<% @random_pairing1 = (1..39).to_a.sample %>
<% @random_pairing2 = (1..39).to_a.sample %>

<%= User.find(@random_pairing1).name %> and <%= User.find(@random_pairing2).name %>




