<h1>All Meals</h1>

<h2>Where are we eating today?:</h2>

<h3>Dig Inn</h3>

<% 19.times do %>
  <br><a href="/meal/<%=random_lunch_pairings.id%>" class="lunch-id" data-lunch="<%=random_lunch_pairings.id%>" data-lunchpartner1="<%= random_lunch_pairings.lunchpartner1.name %>" data-lunchpartner2="<%= random_lunch_pairings.lunchpartner2.name %>"><%= @lunchpartner1 = random_lunch_pairings.lunchpartner1.name %> and <%= @lunchpartner2 = random_lunch_pairings.lunchpartner2.name %></a><br>
<% end %>




